{
  "extends": [
    "airbnb",
    "plugin:flowtype/recommended"
  ],
  "env": {
    "jest": true,
    "browser": true
  },
  "plugins": [
    "flowtype"
  ],
  "rules": {
    "semi": ["error", 'never'],
    "no-unexpected-multiline": "error",
    "no-param-reassign": ["error", { "props": false }],
    "no-eval": "warn"
  }
}
